#waiting-data-div {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	z-index: 1000;
	justify-content: center;
}


#answer-info-span {
	position: fixed;
	right: 10px;
	bottom: 50vh;
	width: auto;
	height: auto;
	background-color: #0394fc;
	z-index: 100;
	box-shadow: 10px 5px 10px grey;
	padding: 10px;
	font-size: 15pt;
	font-weight: bold;
	font-family: Helvetica;
	color: white;
	text-align: center;
	display: none;
}

#typing-info-span {
	position: sticky;
	width: auto;
	height: 10px;
	margin-bottom: 10px;
	z-index: 100;
	font-size: 12pt;
	font-weight: bold;
	font-family: 'Helvetica';
	color: #0394fc;
	text-align: center;
	display: none;
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 100px;
	height: 100px;
	animation: spin 1s linear infinite;
	margin-top: 50vh;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.marked {
	background-color: #0394fc !important;
	box-shadow: 0px 0px 10px grey;
}

.marked span {
	font-size: 14pt;
	color: white;
	font-weight: bold;
}
